<!DOCTYPE html>
<html>
<head>
  <title>Liste des utilisateurs</title>
  <meta charset="UTF-8">
</head>
<body>
<h2>Liste des utilisateurs</h2>
<table border="1">
  <tr>
    <th>ID</th><th>Nom</th><th>Email</th><th>Rôles</th><th>Action</th>
  </tr>
  <% users.forEach(user => { %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td>
        <% user.roles.forEach((role, index) => { %>
          <%= role.name %><% if (index !== user.roles.length - 1) { %>, <% } %>
        <% }) %>
      </td>
      <td>
        <div class="action-buttons">
          <% if (user.roles.some(r => r.name === 'moderator')) { %>
            <button class="unpromote-btn" data-id="<%= user.id %>">User</button>
            <% } else { %>
              <button class="promote-btn" data-id="<%= user.id %>">Moderator</button>
              <% } %>
          <% if (user.active) { %>
            <button class="desactiver-btn" data-id="<%= user.id %>">Deactiver</button>
            <% } else { %>
              <button class="activer-btn" data-id="<%= user.id %>">Activer</button>
              <% } %>
        </div>
      </td>
    </tr>
  <% }) %>
</table>
</body>
</html>

